version: "3"
services:
  elastic:
    container_name: elasticsearch
    image: elasticsearch:7.14.0
    environment:
      - node.name=elasticsearch
      - cluster.name=elasticsearch
      - discovery.type=single-node
      - ES_HEAP_SIZE=4g
    mem_limit: 8g
    volumes:
      - D:\home\es\data:/usr/share/elasticsearch/data
      - D:\home\es\config:/usr/share/elasticsearch/config
      - D:\home\es\plugins:/usr/share/elasticsearch/plugins
      - D:\home\es\logs:/usr/share/elasticsearch/logs
    ports:
      - 9200:9200
      - 9300:9300
    networks:
      elastic:

  kibana:
    container_name: kibana
    image: bitnami/kibana:7.14.0
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    mem_limit: 4g
    ports:
      - 5601:5601
    networks:
      elastic:

networks:
  elastic:
    driver: bridge
